[Desktop Entry]
Name=XCalc
GenericName=Scientific Calculator for X
Comment=Scientific Calculator
Exec=xcalc
Terminal=false
Type=Application
Categories=Utility;
